[alias]
    uncommit = "!f() { git rev-parse --verify HEAD^ >/dev/null && set -C && git log -1 --format=format:%B HEAD > zz_cm.txt && git reset HEAD^; }; f"
    recommit = "!f() { git commit -F zz_cm.txt \"$@\" && rm -- zz_cm.txt; }; f"